*
!*.org
!*.org_archive
!.gitignore
!*.css
!*.html
!programas
!programas/*.py
!luis-programas/*.txt
!luis-programas/*.py
!luis-programas/*.pdf
!*.tab
!*/*.fits
!*/*.png
!*/*.reg
!*/*.json
!*.reg
!*.org
!*/*.png
