*
!reproject-images
reproject-images/*.fits
!reproject-images/*.py
!reproject-images/*.reg
!*.ecsv
!Simbad
!notebooks
!notebooks/*.py
# Now we ADD the ipynb files, so that pre-commit can manage them
# Note that they never get commited
!notebooks/*.ipynb
!circle_fit
!j8oc01010_wcs
!j8oc02010_wcs
!j8oc06010_wcs
!j8oc07010_wcs
!j8oc08010_wcs
!j8oc09010_wcs
!j8oc14010_wcs
!j8oc16010_wcs
!j8oc17010_wcs
!j8oc18010_wcs
!j8oc24010_wcs
!COUP
!Morales-Calderon2011
!Andersen2011
!Manara2012
!Hillenbrand1998
!Hillenbrand1997
!Hillenbrand2000
!Robberto2010
!Vereshchagn2011
!Robberto2005
!Smith2005
!Radial-Distribution/*
!*.tex
!*.org
!*.org_archive
!.gitignore
!*.css
!*.html
!*.pdf
!programas
!programas/*.py
!luis-programas
!luis-programas/*.txt
!luis-programas/*.py
!luis-programas/*.pdf
!luis-programas/*.tab
!*.tab
!*/*.fits
!*/*.png
!*/*.reg
!*/*.json
!*.reg
!*.org
!*/*.png
*conflicted*copy*

*_flymake.py
/_region_.tex
/j8oc16010_wcs/*.fits
/j8oc16010_wcs/*.pdf
/j8oc17010_wcs/*.fits
/j8oc17010_wcs/*.pdf
!*.afdesign
/reproject-images/*.fits
/reproject-images/*.png
