*
!*.tex
!*.org
!*.org_archive
!.gitignore
!*.css
!*.html
!*.pdf
!programas
!programas/*.py
!luis-programas/*.txt
!luis-programas/*.py
!luis-programas/*.pdf
!*.tab
!*/*.fits
!*/*.png
!*/*.reg
!*/*.json
!*.reg
!*.org
!*/*.png
*conflicted*copy*

/programas/extract-image_flymake.py
/_region_.tex
